<div class="page--listing">
  <mat-tab-group>  
    <mat-tab label="ALL">
      <div class="u-padding">
        <mat-grid-list
          *ngIf="allItems" 
          gutterSize="1em" 
          cols="2"
          rowHeight="1:1">
          <mat-grid-tile 
            *ngFor="let item of allItems" 
            class="custom-grid-tile"
            [style.backgroundImage]="'url(' + item.image + ')'">
            <div class="custom-grid-tile__title">
              <span>{{item.name}}</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
    <mat-tab label="DOGS">
      <div class="u-padding">
        <mat-grid-list
          *ngIf="dogs" 
          gutterSize="1em" 
          cols="2"
          rowHeight="1:1">
          <mat-grid-tile 
            *ngFor="let dog of dogs" 
            class="custom-grid-tile"
            [style.backgroundImage]="'url(' + dog.image + ')'">
            <div class="custom-grid-tile__title">
              <span>{{dog.name}}</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
    <mat-tab label="PLANES">
      <div class="u-padding">
        <mat-grid-list
          *ngIf="planes" 
          gutterSize="1em" 
          cols="2"
          rowHeight="1:1">
          <mat-grid-tile 
            *ngFor="let plane of planes" 
            class="custom-grid-tile"
            [style.backgroundImage]="'url(' + plane.image + ')'">
            <div class="custom-grid-tile__title">
              <span>{{plane.name}}</span>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
  </mat-tab-group>  
  <div class="page__action">
    <button mat-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  </div>
</div>
